@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&family=Pacifico&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

p{
    text-align: justify;
}

.content {
    margin: 0 auto;
    max-width: 900px;
    background-color: #eee;
    padding: 10px;
}

.btn {
    background-color: rgb(33, 156, 70);
    padding: 5px 10px 5px 10px;
    border: 2px solid rgb(4, 92, 30);
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 5px;
    color: #fff;
}

.btn:hover {
    background-color: rgb(4, 92, 30);
}

.btn:active {
    background-color: rgb(129, 255, 166);
    color: rgb(4, 92, 30);;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-content {
    margin: 0 auto;
    margin-top: 5%;
    max-width: 600px;
    background-color: #eee;
    padding: 0;
    box-shadow: 0 0 2px #fff
}

.modal-header h1 {
    font-weight: bold;
    text-align: center;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.modal-header, .modal-body, .modal-footer {
    padding: 10px;
}

.modal-header {
    background-color: #ccc;
}

.modal-footer {
    background-color: #ccc;
}